<html>
    <body>
        <div>
            {% block content %}{% endblock %}
            <form action="/movies/list" method="GET">
            <input type="submit" value="Show all recorded movies">
            </form>
            <form action="/comments/list" method="GET">
            <input type="submit" value="Show all recorded comments">
            </form>

            <form action="{% url 'top' %}" method="get" style="font-size: 18px">
                <input type="submit" value="Top">
            </form>
        </div>
    </body>
</html>